.sub_footer {
    margin-top: 80px;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 25px 20px 25px 20px;
    border-radius: 10px;
}

.sub_footer__button {
    margin-left: 200px;
    border: 0;
    width: 155px;
    height: 32px;
    background-color: #26C296;
}

.footer {
    margin: 0 auto;
}

.footer_text {
    font-weight: 700;
    color: #222;
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.usual_footer_text {
    text-align: center;
    margin-bottom: 50px ;
}

@media screen and (max-width: 768px) {

    .sub_footer {
        margin-right: 5%;
        margin-left: 5%;
    }

    .sub_footer__button {
        margin-left: auto;
        margin-right: auto;
    }

    .footer_footer {
        margin-left: 20%; 
    }
}