

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

body {
    font-family: gilroy;
    color: #73738D;
    margin: 0;
    background-color: #E5E5E5;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 768px) {
    body {
        text-align: center;
        flex-direction: column;
        flex: 1;
    }
}

a {
    text-decoration: none;
}

li {
    display: block;
}

h1,
h2,
h3 {
    color: #222;
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
    font-family: Gilroy;
}

/*Global classes*/

.container {
    margin: 0 auto;
    max-width: 800px;
}

.button {
    border-radius: 34px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 40px;
        display: flex;
        flex-direction: column;
    }    
}

.button:hover {
    animation-name: button_hover;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

.header__nav-item:hover {
    animation-name: link_hover;
    animation-duration: 4s;
    animation-iteration-count: 3;
}

.header__nav-Login:hover {
    animation-name: login_hover;
    animation-duration: 10s;
}