.main-body__second-container {
    display: inline-block;
    width: 350px;
    vertical-align: text-bottom;
    margin-left: 40px;
}

.second-container__header {
    margin-bottom: 17px;
}

.second-container__paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #73738D;
}

.second-container__tick-containers {
font-weight: 500;
font-size: 11.0889px;
line-height: 150%;
margin-top: 16px;
display: inline-block;
margin-bottom: 15px;
}

.text-near-tick {
    display: inline-block;
}

.tick-containers__first-container {
    margin-right: 60px;
}
.tick-containers__third-container {
    margin-right: 27px;
}

.image-parent {
    position: relative;
    
}

.circle {
    position: relative;
    top: 0;
    left: 0;
}

.symbol {
    position: absolute;
    top: 15px;
    left: 12px;
    z-index: 9;
}

.inner-container {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #73738D;
    margin-top: 30px;
    width: 350px;
    float:left;
}

.second-inner-container {
    background: #FFFFFF;
    box-shadow: 0px 15px 55px #F2F5FA;
    border-radius: 20px;
    height: 210px;
}

.separate_girl__image {
    float: left;
    margin: 25px 8px 15px 16px;
}

.black-text-color {
    color: #222;
    display: inline-block;
}

.sub-div {
    margin-top: 20px;
    margin-left: 18px;
}

.pre-last-container {
    background-color: #fff;
    width: 380px;
    box-shadow: 0px 14px 55px #F2F5FA;
    border-radius: 21px;
}

.text-in-pre-last-container {
    padding: 22px 0px 22px 17px;
}

.last-container {
    float: right;

}

.circle-for-plague {
    position: relative;
    top: 0px;
    left: 0px;
}

.plague-symbol {
    position: absolute;
    top: 15px;
    left: 12px;
    z-index: 9;
}